@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.45rem;
  height: 0.6rem;
  overflow: visible;
}

::-webkit-scrollbar-track {
  background: #1c2f41
}

::-webkit-scrollbar-thumb {
  background: #3294f8;
  border-radius: 999px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '^';
}